.main-container {
    background-color: azure;
    display: flex;
}

.first-container {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
}

.first-bigger-box {
    display: flex;
    flex-direction: row;
    flex-basis: 75%;
}

.first-smaller-box {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin: 5px;
}

.second-smaller-box {
    background-color: deeppink;
    flex-basis: 50%;
    margin: 5px;
}

.second-bigger-box {
    background-color: brown;
    display: flex;
    flex-direction: row;
    flex-basis: 75%;
    margin: 5px;
}

.second-bigger-box .item {
    flex-basis: 35%;
    margin: 5px;
}


.second-container {
    display: flex;
    flex-basis: 35%;
}

.first-line {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin: 5px;
}

.first-line .item {
    background-color: blue;
    display: flex;
}

.second-line {
    
}