.container {
    background-color: red;
}

.first-container {
    background-color: aqua;
    display: flex;
    flex-direction: row;
}

.first-box {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    background-color: antiquewhite;
}

.first-line {
    background-color: blue;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.first-line .item {
    display: flex;
    flex-direction: row;
    flex-basis: 30%;
    padding: 10px;
}

.second-line {
    background-color: blue;
    margin: 5px;
    display: flex;
}

.second-line .item {
    display: flex;
    flex-basis: 50%;
    padding: 40px; 
}