.container {
    background-color: black;
}

.first-container {
    flex-direction: row;
    display: flex;
}

.first-box {
    margin: 5px;
    padding: 80px;
    background-color: deeppink;
    flex-basis: 50%;
}

.second-box {
    flex-basis: 50%;
}

.second-box .item {
    padding: 80px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background-color: brown;
}

.second-container .first-line {
    display: flex;
    background-color: blueviolet;
    margin: 5px;
    padding: 40px;
    flex-basis: 100%;
}

.second-container .second-line {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.second-container .second-line .item {
    flex-basis: 100%;
    margin: 5px;
    padding: 40px;
    background-color: fuchsia;
}